body {
    background-color: #313031;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

#time {
    color: white;
}

p {
    color: #AAAAAA;
}

.btn:focus,
.form-control:focus,
.navbar-toggler {
    outline: none !important;
    box-shadow: 0 0 0 0;
}

#date {
    color: #F46668;
}

p {
    word-wrap: break-word;
}

.text-light,
.border-light {
    color: #AAAAAA !important;
    border-color: #AAAAAA !important;
}

@media (max-width:767px) {
    .border-left {
        border-left: 0px solid !important
    }


}

@media (max-width:575px) {
    .border-right {
        border-right: 0px solid !important
    }

    #date-border-bottom {
        border-bottom: 1px solid white !important;
    }
}